recursive-include doc *.css *.txt *.js *.png *.py Makefile *.rst
recursive-include examples *.py *.html
recursive-include test *.py *.html *.mako *.cfg

include README* AUTHORS LICENSE CHANGES* tox.ini

prune doc/build/output

