<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Mako</string>
	<key>ordering</key>
	<array>
		<string>8580C15A-0134-4D25-9705-14F98729B2C5</string>
		<string>F24A57C2-A334-4D70-8E02-1A2E8A857062</string>
		<string>D2BEBD60-FB52-4188-B6CF-008230FAEAB3</string>
		<string>3922CE83-ED6D-4706-AD2E-C25EC7960294</string>
		<string>A1322540-CBBC-403F-BEF7-FFAB9243B5EE</string>
		<string>2899BAB6-1925-46EC-9AE3-38D64F1EF403</string>
		<string>BFF044C5-C5C5-4A98-8962-C6E04CB81FD7</string>
	</array>
	<key>uuid</key>
	<string>93C65CA6-F509-4030-B939-163D1EEFE03C</string>
</dict>
</plist>
